<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/ss/simple-statistics.min.js"></script>
<script src="/bower/Chart.js/dist/Chart.js"></script>
<script src="/bower/underscore/underscore-min.js"></script>
<script src="/bower/moment/moment.js"></script>
<script src="/bower/numeral/numeral.js"></script>
<script src="/local/js/jquery.sparkline.min.js"></script>
<script src="/local/js/colors.js"></script>
<script src="/dist/main.js"></script>
<script src="/local/js/typeahead.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
