<div class="panel panel-default">
  <div class="panel-body">
    <div>
      <div id="usageChartContainer">
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <button id="downloadCSV" class="btn btn-default">csv</button>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table" id="usageDataTable">
        <thead>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
